@model List<BlogPostComment>
@{
    ViewData["Title"] = "CommentIndex";
    int counter = 0;
}

<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-12">
            <div class="bg-secondary rounded h-100 p-4">
                <h6 class="mb-4"> Blog Posts</h6>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Id</th>
                                <th scope="col">Fullname</th>
                                <th scope="col">Mail</th>
                                <th scope="col">Message</th>
                                <th scope="col">Message Time</th>
                                <th scope="col">Image</th>
                                <th scope="col">
                                    Actions
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                counter++;
                                    <tr>
                                        <th scope="row">@counter</th>
                                        <td>@item.Id</td>
                                        <td>@item.UserFullName</td>
                                        <td>@item.UserCommetMail</td>
                                        <td>@item.UserCommentMessage</td>
                                        <td>@item.UserMessageTime</td>
                                        <td>
                                            <div style="max-width:200px;">
                                                <img style="width:100%;" src="~/uploads/blogposts/@item.UserImg">
                                            </div>
                                        </td>
                                        <td>
                                            <a class="btn btn-danger" asp-action="deleteComment" asp-controller="blogposts" asp-route-id="@item.Id">Delete</a>
                                        </td>
                                    </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
