@model PaginatedList<BlogPosts>
@{
    ViewData["Title"] = "Index";
    int counter = 0;
}

<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-12">
            <div class="bg-secondary rounded h-100 p-4">
                <h6 class="mb-4">Blog posts</h6>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Id</th>
                                <th scope="col">Title</th>
                                <th scope="col">Category</th>
                                <th scope="col">Quote</th>
                                <th scope="col">Image</th>
                                <th scope="col" style="width:130px;">
                                    Actions
                                    <a class="btn btn-info" asp-action="create" asp-controller="blogposts">Create</a>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                counter++;
                                <tr>
                                    <th scope="row">@counter</th>
                                    <td>@item.Id</td>
                                    <td>@item.Title</td>
                                    <td>@item.Category</td>
                                    <td>@item.Quote</td>
                                    <td>
                                        <div style="max-width:200px;">
                                            <img style="width:100%;" src="~/uploads/blogposts/@item.Img">
                                        </div>
                                    </td>
                                    <td class="d-flex flex-column justify-content-center" style="width:130px;">
                                        <a class="btn btn-outline-info" asp-action="update" asp-controller="blogposts" asp-route-id="@item.Id">Update</a>
                                        <a class="btn btn-danger my-2" asp-action="delete" asp-controller="blogposts" asp-route-id="@item.Id">Delete</a>
                                        <a class="btn btn-outline-warning" asp-action="CommentIndex" asp-controller="blogposts" asp-route-id="@item.Id">Comments</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="d-flex justify-content-center my-3">
    <form>
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                @if (Model.HasPrevious)
                {
                        <li class="page-item">
                            <a class="page-link" asp-route-page="@(Model.ActivePage-1)" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                }
                @for (int i = 1; i <= Model.TotalPageCount; i++)
                {
                        <li class="page-item @((Model.ActivePage==i)? "active" : "")"><a class="page-link  " asp-route-page="@i">@i</a></li>
                }
                @if (Model.HasNext)
                {
                        <li class="page-item">
                            <a class="page-link" asp-route-page="@((Model.ActivePage+1))" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                }
            </ul>
        </nav>
    </form>
</div>
