@model List<Apartment>
@foreach (var item in Model)
{
    <div class="col-md-4 col-sm-6 col-xs-6">
        <div class="apartments-content">
            <div class="image-content">
                <a asp-action="detail" asp-controller="home" asp-route-id="@item.Id"><img src="~/uploads/apartments/@item.ApartmentImages.FirstOrDefault(x=>x.IsPoster==true).Img" alt="apartment" /></a>
            </div><!-- /.image-content -->

            <div class="text-content">
                <div class="top-content">
                    <h3><a asp-action="detail" asp-controller="home" asp-route-id="@item.Id" >@item.ApartmentCategory.AppartmentCategoryName</a></h3>
                    <span>
                        <i class="fa fa-map-marker"></i>
                        @item.Country, @item.City
                    </span>
                </div><!-- /.top-content -->
                <div class="bottom-content clearfix">
                    <div class="meta-bed-room">
                        <i class="fa fa-bed"></i> @item.BedRoomCount Bedrooms
                    </div>
                    <div class="meta-bath-room">
                        <i class="fa fa-bath"></i>@item.BathCount Bathroom
                    </div>
                    <span class="clearfix"></span>
                    <div class="d-flex justify-content-between rent-price">
                        $@item.Rentprice
                        <span class="view" style="margin-left:200px;"><i class="fa fa-eye"></i>@item.TotalViewCount</span>
                    </div>
                </div><!-- /.bottom-content -->
            </div><!-- /.text-content -->
        </div><!-- /.partments-content -->
    </div>

    <!-- /.col-md-4 -->
}