@model AboutUS
@{
    ViewData["Title"] = "Index";
}


<!-- ====== Breadcrumbs Area ====== -->
<div class="breadcrumbs-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="breadcrumbs">
                    <span class="first-item">
                        <a href="index01.html">Home</a>
                    </span>
                    <span class="separator">&gt;</span>
                    <span class="last-item">About</span>
                </div>
            </div><!-- /.col-md-12 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</div><!-- /.breadcrumbs-area -->
<!-- ====== About Main Content ====== -->
<section class="about-main-content">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="about-top-content">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="section-title-area text-center">
                                <h2 class="section-title default-text-gradient">Why <br />Choose Us</h2>
                                <p class="section-description">Best offers from the house chef</p>
                            </div><!-- /.section-title-area -->
                        </div><!-- /.col-md-12 -->
                    </div><!-- /.row -->
                    <div class="row">
                        <div class="col-md-5">
                            <div class="about-content-left">
                                <h2>Best<br> Rent Service,<br> enjoy your<br> life</h2>
                            </div><!-- /.about-content-left-->
                        </div><!-- /.col-md-5 -->
                        <div class="col-md-7">
                            <div class="about-content-right">
                                <p>@Model.Description</p>
                            </div><!-- /.about-conten-right-->
                        </div><!-- /.col-md-7 -->
                    </div><!-- /.row -->
                </div><!-- /.top-content -->
            </div><!-- /.col-md-12 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</section><!-- /.about-main-content -->
<!-- ====== About Bottom Content ====== -->
<section class="about-bottom-content">
    <div class="container">
        <div class="row">
            <div class="col-md-9 full-width-content">
                <div class="image-content gradient-circle">
                    <div>
                        <span>
                            <img src="~/uploads/about/@Model.AvatarImg" alt="@Model.CeoName" />
                        </span>
                    </div>
                </div><!-- /.image-content -->
                <div class="author-content">
                    <div class="author-content-area">
                        <h2 class="author-name default-text-gradient">@Model.CeoName</h2>
                        <p class="author-designation">@Model.Position</p>
                    </div><!-- /.author-content-area -->
                </div><!-- /.author-content -->
                <p>@Model.Quote</p>
                <div class="social-media footer pull-left">
                    <span class="pull-left">Follow me :</span>
                    <a href="@Model.SmthUrl"><i class="fa fa-behance" aria-hidden="true"></i></a>
                    <a href="@Model.SmthUrl"><i class="fa fa-flickr" aria-hidden="true"></i></a>
                    <a href="@Model.TwitterUrl"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                    <a href="@Model.FaceUrl"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                    <a href="@Model.GplusUrl"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                    <a href="@Model.PintereseUrl"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a>
                </div><!-- /.social-media -->
                <div class="author-sign pull-right">
                    <img src="~/uploads/about/@Model.SignImg" alt="sine" />
                </div><!-- /.author-sign -->
            </div><!-- /.col-md-7 -->
        </div><!-- /.riv row -->
    </div><!-- /.container -->
</section><!-- /.about-bottom-content -->
