@model DashboardViewModel
@{
    ViewData["Title"] = "Index";
    List<Order> todayOrd = Model.Orders.Where(x => x.OrderDay.Value.Day == DateTime.Now.Day).Where(x=>x.OrderStatus != HouseRent.Enum.OrderStatus.Rejected).ToList();
    List<Order> thisMonth = Model.Orders.Where(x => x.OrderDay.Value.Month == DateTime.Now.Month).Where(x=>x.OrderStatus != HouseRent.Enum.OrderStatus.Rejected).ToList();
    int price = 0;
    int priceNotExp = 0;
    int id = 0;
    int notexpId = 0;
    if (Model.Orders.Count > 0 )
    {
        Order mostExp = Model.Orders.OrderByDescending(x => x.TotalPrice).Where(x => x.OrderDay.Value.Month == DateTime.Now.Month).First();
        Order mostNotexp = Model.Orders.OrderBy(x => x.TotalPrice).Where(x => x.OrderDay.Value.Month == DateTime.Now.Month).First();
        price = mostExp.TotalPrice.Value;
        id = mostExp.Id;
        notexpId = mostNotexp.Id;
        priceNotExp = mostNotexp.TotalPrice.Value;
    }
    int total = 0;
    int totalMonth = 0;
    foreach (var item in todayOrd)
    {
        total += item.TotalPrice.Value;
    }
    foreach (var item in thisMonth)
    {
        totalMonth += item.TotalPrice.Value;
    }
}

<!-- Sale & Revenue Start -->
<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-sm-6 col-xl-3">
            <div class="bg-secondary rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-chart-line fa-3x text-primary"></i>
                <div class="ms-3">
                    <p class="mb-2">Today Sale</p>
                    <h6 class="mb-0">$@total</h6>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3">
            <div class="bg-secondary rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-chart-bar fa-3x text-primary"></i>
                <div class="ms-3">
                    <p class="mb-2">This Month Sale</p>
                    <h6 class="mb-0">$@totalMonth</h6>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3">
            <div class="bg-secondary rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-chart-area fa-3x text-primary"></i>
                <div class="ms-3">
                    <a class="mb-2 " asp-controller="adminorder" asp-action="Detail" asp-route-id="@id">Rent of Month</a>
                    <h6 class="mb-0">$@price</h6>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3">
            <div class="bg-secondary rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-chart-pie fa-3x text-primary"></i>
                <div class="ms-3">
                    <a class="mb-2" asp-controller="adminorder" asp-action="Detail" asp-route-id="@notexpId">The Cheapest</a>
                    <h6 class="mb-0">$@priceNotExp</h6>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Recent Sales Start -->
<div class="container-fluid pt-4 px-4">
    <div class="bg-secondary text-center rounded p-4">
        <div class="d-flex align-items-center justify-content-between mb-4">
            <h6 class="mb-0">Recent Salse</h6>
            <a asp-action="index" asp-controller="adminorder">Show All</a>
        </div>
        <div class="table-responsive">
            <table class="table text-start align-middle table-bordered table-hover mb-0">
                <thead>
                    <tr class="text-white">
                        <th scope="col"><input class="form-check-input" type="checkbox"></th>
                        <th scope="col">Date</th>
                        <th scope="col">Customer</th>
                        <th scope="col">Email</th>
                        <th scope="col">Amount</th>
                        <th scope="col">Status</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Orders5)
                    {
                        <tr>
                            <td><input class="form-check-input" type="checkbox"></td>
                            <td>@item.OrderDay.Value.ToString("d")</td>
                            <td>@item.Fullname</td>
                            <td>@item.eMail</td>
                            <td>$@item.TotalPrice</td>
                            <td>@item.OrderStatus</td>
                            <td><a class="btn btn-sm btn-primary" asp-action="detail" asp-controller="AdminOrder" asp-route-id="@item.Id">Detail</a></td>
                        </tr>

                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- Recent Sales End -->
<!-- Widgets Start -->
<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-sm-12 col-md-6 col-xl-4">
            <div class="h-100 bg-secondary rounded p-4">
                <div class="d-flex align-items-center justify-content-between mb-2">
                    <h6 class="mb-0">Messages</h6>
                    <a asp-action="index" asp-controller="messages">Show All</a>
                </div>
                @foreach (var item in Model.AdminMessages)
                {
                    <div class="d-flex align-items-center border-bottom py-3">
                        <img class="rounded-circle flex-shrink-0" src="~/manage/img/user.jpg" alt="" style="width: 40px; height: 40px;">
                        <div class="w-100 ms-3">
                            <div class="d-flex w-100 justify-content-between">
                                <h6 class="mb-0">@item.FullName</h6>
                                <small>
                                    @{
                                        int num = DateTime.Now.Hour - item.MessageDate.Hour;
                                    }
                                    @{
                                        if (DateTime.Now.Date.DayOfYear > item.MessageDate.Date.DayOfYear)
                                        {
                                            @(DateTime.Now.Date.DayOfYear - item.MessageDate.Date.DayOfYear) @("  ")  @("Days") @("  ")
                                        }
                                        else
                                        {
                                            //@(item.MessageDate.DayOfYear) @("  ")  @("Days") @("  ")
                                        }
                                    }
                                    @{
                                        if (DateTime.Now.Hour > item.MessageDate.Hour && DateTime.Now.Minute >= item.MessageDate.Minute)
                                        {
                                            @(DateTime.Now.Hour - @item.MessageDate.Hour) @("  ")  @("Hours") @("  ")  @(@DateTime.Now.Minute - @item.MessageDate.Minute) @("  ") @("Minutes") @("  ") @("Ago")
                                        }
                                        if (DateTime.Now.Hour < item.MessageDate.Hour && DateTime.Now.Minute < item.MessageDate.Minute)
                                        {
                                            @(@item.MessageDate.Hour - DateTime.Now.Hour) @("  ") @("Hours") @("  ") @(@item.MessageDate.Minute - @DateTime.Now.Minute) @("  ") @("Minutes") @("  ") @("Ago")
                                        }
                                        if (DateTime.Now.Hour < item.MessageDate.Hour && DateTime.Now.Minute > item.MessageDate.Minute)
                                        {
                                            @(@item.MessageDate.Hour - DateTime.Now.Hour) @("  ") @("Hours") @("  ")  @(@DateTime.Now.Minute - @item.MessageDate.Minute) @("  ") @("Minutes") @("  ") @("Ago")
                                        }
                                        if (DateTime.Now.Hour > item.MessageDate.Hour && DateTime.Now.Minute < item.MessageDate.Minute)
                                        {
                                            @(DateTime.Now.Hour - @item.MessageDate.Hour) @("  ")  @("Hours") @("  ") @(@item.MessageDate.Minute - @DateTime.Now.Minute) @("  ") @("Minutes") @("  ") @("Ago")
                                        }
                                        if (num == 0)
                                        {
                                            @(@DateTime.Now.Minute - @item.MessageDate.Minute) @("  ") @("Minutes") @("  ") @("Ago")
                                        }
                                    }
                                </small>
                            </div>
                            <span>
                                @if (item.Message.Length > 35)
                                {
                                    @(item.Message.Substring(0, 35) + "...")
                                    ;
                                }
                                else
                                {
                                    @(item.Message);
                                }
                            </span>
                        </div>
                    </div>

                }
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-xl-4">
            <div class="h-100 bg-secondary rounded p-4">
                <div class="d-flex align-items-center justify-content-between mb-4">
                    <h6 class="mb-0">Calender</h6>
                    @*<a href="">Show All</a>*@
                </div>
                <div id="calender"></div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-xl-4">
            <div class="h-100 bg-secondary rounded p-4">
                <div class="d-flex align-items-center justify-content-between mb-4">
                    <h6 class="mb-0">To Do List</h6>
                    @*<a href="">Show All</a>*@
                </div>
                <form method="post" asp-action="index" asp-controller="dashboard">
                    <div class="d-flex mb-2">
                        <input asp-for="@Model.ToDoList.Work" class="form-control bg-dark border-0" placeholder="Enter task">
                        <button type="submit" class="btn btn-primary ms-2">Add</button>
                        <input type="hidden" asp-for="@Model.ToDoList.todiListDate" value="@DateTime.Now">
                    </div>
                </form>
                @foreach (var item in Model.ToDoLists)
                {
                    <div class="d-flex align-items-center border-bottom py-2">
                        <a asp-action="delete" asp-controller="dashboard" asp-route-id="@item.Id" class="form-check-input m-0"></a>
                        <div class="w-100 ms-3">
                            <div class="d-flex w-100 align-items-center justify-content-between">
                                <span>@item.Work</span>
                                <a class="btn btn-sm" asp-action="delete" asp-controller="dashboard" asp-route-id="@item.Id"><i class="fa fa-times"></i></a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<!-- Widgets End -->