@model List<Order>
@{
    ViewData["Title"] = "Index";
    int counter = 0;
}

<div class="container d-flex" style="align-content:center; justify-content:center;">
    <h1> Your Reservations</h1>
</div>
@foreach (var item in Model)
{
    <div class="container d-flex justify-content-around" style="">

        <div class="card text-secondary bg-white-smoke mb-3 border-2" style="border:solid; border-color:gray;">
            <div class="card-header d-flex justify-content-between">
                <div class="container d-flex">
                    <div style="width:25%;">
                        <p1>Order Date</p1><br>
                        <p1>@item.OrderDay.Value.ToString("yyyy,MMMM dd")</p1>
                    </div>
                    <div style="width:25%;">
                        <p1>Fullname</p1><br>
                        <p1>@item.Fullname</p1>
                    </div>
                    <div style="width:25%;">
                        <p1 style="text-decoration-style:wavy;">Price</p1><br>
                        <p1>
                            @item.TotalPrice$ (@item.OneDayPrice$ x
                            @(@item.EndRentDate.Day - @item.StartRentDate.Day) Days)
                        </p1>
                    </div>
                    <div style="width:25%;">
                        <a asp-action="orderdetail" asp-controller="order" asp-route-id="@item.Id" class="btn btn-success" style="border-radius:8px;">Order Details</a>
                    </div>
                </div>

            </div>
            <div class="card-body">
                <div class="container d-flex">
                    <div class="container d-flex justify-content-around" style="align-content:flex-start;">
                        <div class="d-flex col-md-2" style="justify-content:start;">
                            <p>OrderStatus:@item.OrderStatus</p>
                        </div>
                        <div class="col-md-10" style="max-width:200px;">
                            <a asp-action="detail" asp-controller="home" asp-route-id="@item.ApartmentId"><img src="~/uploads/apartments/@item.Apartment.ApartmentImages.FirstOrDefault(x=>x.IsPoster==true)?.Img" style="max-width:100%;"></a>
                        </div>
                    </div>
                </div>
                @*<h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>*@
            </div>
        </div>


    </div>
}





