@model List<Order>
@{
    ViewData["Title"] = "Index";
    int counter = 0;
}
@if (Model.Count == 0)
{


    <h1 style="padding-top:300px;" class="d-flex justify-content-center ">
        You have no reservations :(</h1>
    <a class="d-flex justify-content-center " style="padding-bottom:300px; text-decoration:underline; font-weight:600" asp-action="IsOverIndex" asp-controller="order" style="text-decoration:underline">Previous Reservations</a>

}
else
{
    <div class="container d-flex" style="    justify-content: end;
    display: flex;
    align-items: baseline;
    gap: 0px;
    width: 63%;">
        <div style="width:78%"><h1 style="text-align:center"> Your Reservations</h1></div>
        <div style="width:13%;text-align:end">
            <a asp-action="IsOverIndex" asp-controller="order" style="text-decoration:underline">Previous Orders</a>
        </div>
    </div>
    @foreach (var item in Model)
    {
        <div class="container d-flex justify-content-around" style="">
            <div class="card text-secondary bg-white-smoke mb-3 border-2" style="border:solid; border-color:gray;">
                <div class="card-header d-flex justify-content-between">
                    <div class="container d-flex">
                        <div style="width:25%;">
                            <p1>Order Date</p1><br>
                            <p1>@item.OrderDay.Value.ToString("yyyy,MMMM dd")</p1>
                        </div>
                        <div style="width:25%;">
                            <p1>Fullname</p1><br>
                            <p1>@item.Fullname</p1>
                        </div>
                        <div style="width:25%;">
                            <p1 style="text-decoration-style:wavy;">Price</p1><br>
                            <p1>
                                @item.TotalPrice$ (@item.OneDayPrice$ x
                                @(@item.EndRentDate.Day - @item.StartRentDate.Day) Days)
                            </p1>
                        </div>
                        <div style="width:25%;">
                            <a asp-action="OrderDetail" asp-controller="order" asp-route-id="@item.Id" class="btn btn-success" style="border-radius:8px;">Order Details</a>
                        </div>
                    </div>

                </div>
                <div class="card-body">
                    <div class="container d-flex">
                        <div class="container d-flex justify-content-around" style="align-content:flex-start;">
                            <div class="d-flex" style="justify-content:center; align-content:center; flex-direction:column; text-align:center; margin-right:120px;">
                                <h5>OrderStatus</h5>
                                <p class="@((item.OrderStatus==0  ? "text-secondary":(item.OrderStatus==HouseRent.Enum.OrderStatus.Accepted ? "text-success" :(item.OrderStatus==HouseRent.Enum.OrderStatus.Rejected ? "text-danger" : ""))))" style="font-weight:700;">@item.OrderStatus</p>
                            </div>
                            <div class="col-md-10" style="max-width:200px;">
                                <a asp-action="detail" asp-controller="home" asp-route-id="@item.ApartmentId"><img src="~/uploads/apartments/@item.Apartment.ApartmentImages.FirstOrDefault(x=>x.IsPoster==true)?.Img" style="max-width:100%;"></a>
                            </div>
                        </div>
                    </div>
                    @*<h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>*@
                </div>
            </div>
        </div>
    }
}





