@model CheckOutViewModel
@{
    //Order order = null;
    ViewData["Title"] = "CheckOut";
    //if (TempData.ContainsKey("order"))
    //{
    //    order = TempData["order"] as Order;
    //}
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CodePen - Beautiful Sleek Checkout Page</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,600,700|Open+Sans:400,600'>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.min.css'>
    <link rel="stylesheet" href="~/checkout/style.css">

</head>
<body>
    <!-- partial:index.partial.html -->
    <header>
        <div class="container">
            <div class="navigation">

                <div class="logo">
                    <a asp-action="index" asp-controller="home"><i class="icon icon-basket"></i>Rent House</a>
                </div>
                <div class="secure">
                    <i class="icon icon-shield"></i>
                    <span>Secure Checkout</span>

                </div>
            </div>
            <div class="notification">
                Complete Your Purchase
            </div>
        </div>
    </header>
    <section class="content">
        <form method="post" asp-action="CheckOut" asp-controller="home">
            <div class="container">
            </div>
            <div class="details shadow">
                <div class="details__item">
                    <div class="item__image">
                        @foreach (var item in @Model.Apartment.ApartmentImages.Where(x => x.IsPoster == true))
                        {
                            <img class="iphone" src="~/uploads/apartments/@item.Img" alt="">

                        }
                    </div>
                    <div class="item__details">
                        <div class="item__title">
                            @Model.Apartment.ApartmentCategory.AppartmentCategoryName
                        </div>
                        <div class="item__price">
                            @Model.Order.TotalPrice $
                        </div>
                        <div class="item__quantity">
                            Quantity: 1
                        </div>
                        <div class="item__description">
                            <ul style="">
                                <li>Country: @Model.Apartment.Country</li>
                                <li>City: @Model.Apartment.City</li>
                                <li>Carspace: @Model.Apartment.CarSpace</li>
                                <li>Bathroom count: @Model.Apartment.BathCount</li>
                                <li>Bedroom count: @Model.Apartment.BedRoomCount</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="discount"></div>
            <div class="container">
                <div class="payment">
                    <div class="payment__title">
                        Payment Method
                    </div>
                    <div class="payment__types">
                        <div class="payment__type payment__type--cc active">
                            <i class="icon icon-credit-card"></i>Credit Card
                        </div>
                        <div class="payment__type payment__type--paypal">
                            <i class="icon icon-paypal"></i>Paypal
                        </div>
                        <div class="payment__type payment__type--paypal">
                            <i class="icon icon-wallet"></i>SEPA
                        </div>
                        <div class="payment__type payment__type--paypal">
                            <i class="icon icon-note"></i>Invoice
                        </div>
                    </div>
                    <div class="payment__info">
                        <div class="payment__cc">
                            <div class="payment__title">
                                <i class="icon icon-user"></i>Personal Information
                            </div>
                            <div class="form__cc">
                                <div class="row">
                                    <div class="field">
                                        <div class="title">
                                            Credit Card Number
                                        </div>
                                        <input asp-for="@Model.CardNum" value="@Model.CardNum" class="input txt text-validated" placeholder="**** **** **** ****" />
                                        <span asp-validation-for="@Model.CardNum" class="text-danger"></span>
                                        <div class="field small">
                                            <div class="title">
                                                CVV Code
                                                <span class="numberCircle">?</span>
                                            </div>
                                            <input asp-for="@Model.CVV" value="@Model.CVV" class="input txt" />
                                            <span asp-validation-for="@Model.CVV" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="expiryDateContainer">
                                        <div class="title">
                                            Expiry Date
                                        </div>
                                        <div class="optionsContainerDiv">
                                        <select asp-for="@Model.CardMonth" asp-items="@(new SelectList(ViewBag.Month))" class="input ddl"></select>
                                        <span asp-validation-for="@Model.CardMonth" class="text-danger"></span>
                                        <select asp-for="@Model.CardYear" asp-items="@(new SelectList(ViewBag.Days))" class="input ddl"></select>
                                        <span asp-validation-for="@Model.CardYear" class="text-danger"></span>
                                        <div/>
                                    </div>
                                    
                                </div>
                                <div class="row">
                                    <div class="field">
                                        <div class="title">
                                            Name on Card
                                        </div>
                                        <input asp-for="NameOncard" value="@Model.NameOncard" class="input txt" />
                                        <span asp-validation-for="NameOncard"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="payment__shipping">
                            <div class="payment__title">
                                <i class="icon icon-plane"></i> Shiping Information
                            </div>
                            <div class="details__user">
                                <div class="user__name">
                                    @Model.Order.Fullname

                                    <br> @Model.Order.StartRentDate.ToString("d")-@Model.Order.EndRentDate.ToString("d")
                                </div>
                                <div class="user__address">
                                    @Model.Order.PhoneNumber
                                    <input type="hidden" asp-for="@Model.Order.PhoneNumber">
                                    <br>@Model.Order.eMail
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="actions">
                   <button class="btn action__submit" type="submit">Order</button>
                    <a asp-action="index" asp-controller="home" class="backBtn">Go Back to Shop</a>
                </div>
                <input type="hidden" asp-for="@Model.ApartmentId" value="@Model.ApartmentId">
                <input type="hidden" asp-for="@Model.Order.Fullname" value="@Model.Order.Fullname">
                <input type="hidden" asp-for="@Model.Order.eMail" value="@Model.Order.eMail">
                <input type="hidden" asp-for="@Model.Order.EndRentDate" value="@Model.Order.EndRentDate">
                <input type="hidden" asp-for="@Model.Order.StartRentDate" value="@Model.Order.StartRentDate">
                <input type="hidden" asp-for="@Model.Order.FamilyMemberCount" value="@Model.Order.FamilyMemberCount">
                <input type="hidden" asp-for="@Model.Order.ChildCount" value="@Model.Order.ChildCount">
                <input type="hidden" asp-for="@Model.Order.TotalPrice" value="@Model.Order.TotalPrice">
                <input type="hidden" asp-for="@Model.Order.IsCancelled" value="@Model.Order.IsCancelled">
                <input type="hidden" asp-for="@Model.Order.OrderStatus" value="@Model.Order.OrderStatus">
                <input type="hidden" asp-for="@Model.Order.Message" value="@Model.Order.Message">
                @if (User.Identity.IsAuthenticated)
                {
                    <input type="hidden" asp-for="@Model.Order.AppUserId" value="@Model.Order.AppUserId">
                }
        </form>
    </section>
    </div>
    <!-- partial -->

</body>
</html>



